<section class="main-entry-details">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>{{ pageTitle }}</h2>
      <form [formGroup]="editForm" *ngIf="isLoaded" (ngSubmit)="onSaveEdit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" formControlName="type" (change)="onUpdateForm()">
            <option value="link">Link</option>
            <option value="rss">RSS Feed</option>
            <option value="image">Image</option>
            <option value="twitter">Twitter Timeline</option>
          </select>
        </div>
        <div class="form-group" *ngIf="selectedType !== 'twitter'">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" formControlName="link">
        </div>
        <div class="form-group" *ngIf="selectedType !== 'twitter'">
          <label for="imgeUrl">Image URL</label>
          <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
        </div>
        <div class="form-group" *ngIf="selectedType !== 'twitter'">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" formControlName="content"></textarea>
        </div>
        <div class="form-group" *ngIf="selectedType === 'twitter'">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="form-group" *ngIf="selectedType === 'twitter'">
          <label for="count">Number of Tweets To Load</label>
          <input type="number" class="form-control" id="count" formControlName="count">
        </div>

        <button type="submit" class="btn btn-primary">Save Entry</button>
      </form>
    </div>
  </div>
</section>